@import "tailwindcss";
@import 'locomotive-scroll/dist/locomotive-scroll.css';


body {
  font-family: var(--font-poppins), system-ui, sans-serif;
}


@layer utilities {
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }


  @keyframes reverseFloat {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }


  .animate-float {
    animation: float 3s ease-in-out infinite;
  }


  .animate-reverse-float {
    animation: reverseFloat 3s ease-in-out infinite;
  }
}